<?xml version="1.0"?>
<launch>
	<machine name="localhost" address="localhost" default="true" />

    <arg name="machine" default="localhost"/>
    <arg name="namespace" default="$(arg machine)"/>
    
    <arg name="marker_size" default="11.85" /> <!-- TODO 11.7 -> skoro ok... -->
    <arg name="max_new_marker_error" default="0.08" />
    <arg name="max_track_error" default="0.2" />
        
    <arg name="cam_image_topic" default="kinect2/hd/image_color" />
    <arg name="cam_info_topic" default="kinect2/hd/camera_info" />        
    <arg name="output_frame" default="/$(arg namespace)_kinect2_link" />
	
    <node ns="/art/$(arg namespace)" machine="$(arg machine)" name="ar_track_alvar_bundle_calibration" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame) 10 5" />
</launch>

