<launch>
	<include file="$(find art_calibration)/launch/art_calibration.launch"></include>
	<include file="$(find art_db)/launch/art_db.launch"></include>
	<include file="$(find art_arcode_detector)/launch/ar_code_detector.launch"></include>
	<include file="$(find art_projected_gui)/launch/gui.launch"></include>
	<include file="$(find art_simple_tracker)/launch/art_simple_tracker.launch"></include>
	<include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch"></include>	
	<include file="$(find art_table_pointing)/launch/node.launch"></include>
	
</launch>
