<?xml version="1.0"?>
<launch>


    <include file="$(find art_bringup)/launch/common.xml"/>

    <!-- https://answers.ros.org/question/35283/nested-substitution-args-in-launch-files/ -->
    <!--arg name="dollar" value="$" />
    <arg name="setup_pkg"  value="$(optenv ARTABLE_SETUP_PKG)"/>
    <arg name="setup_pkg_path"   value="(find $(arg setup_pkg))"/>
    <include file="$(arg dollar)$(arg setup_pkg_path)/launch/bringup.launch"/-->

    <!--group if="$(arg launch_robot)">

        <arg name="robot_pkg"  default="$(optenv ARTABLE_ROBOT_PKG)"/>
        <arg name="robot_pkg_path"   value="(find $(arg robot_pkg)/launch/bringup.launch)"/>

        <include file="$(arg dollar)$(arg robot_pkg_path)"/>

    </group-->

    <include file="$(find art_brain)/launch/brain.launch">
        <arg name="robot_interface" value="$(optenv ARTABLE_ROBOT_INTERFACE)"/>
    </include>

</launch>