<?xml version="1.0"?>
<launch>

    <!-- temporary file - delete after the issue with "Machine [localhost] already added and does not match duplicate entry" is resolved -->

    <include file="$(find art_bringup)/setups/1/nuc.xml">
      <arg name="machine_name" value="n1"/>
      <arg name="address" value="artable-n1"/>
    </include>

    <include file="$(find art_bringup)/setups/1/nuc.xml">
      <arg name="machine_name" value="n2"/>
      <arg name="address" value="artable-n2"/>
    </include>

</launch>