<launch>

    <machine name="localhost" address="localhost" default="true" />
    <arg name="machine" default="localhost"/>

    <arg name="marker_size" default="2.77" />
	<arg name="max_new_marker_error" default="0.08" />
	<arg name="max_track_error" default="0.2" />

	<arg name="cam_image_topic" default="kinect2/hd/image_color" />
	<arg name="cam_info_topic" default="kinect2/hd/camera_info" />

	<arg name="output_frame" default="/marker" />
	<!--arg name="bundle_files" default="/home/artable/catkin_ws/src/ar-table-itable/art_detectors/art_arcode_detector/bundles/truthTableLeg.xml"  /-->
	<arg name="bundle_files" default="$(find art_arcode_detector)/bundles/truthTableLeg.xml $(find art_arcode_detector)/bundles/profile26.xml $(find art_arcode_detector)/bundles/profile31.xml"  />
	<node machine="$(arg machine)" name="ar_track_alvar_bundle_objects" pkg="ar_track_alvar" type="findMarkerBundlesNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame) $(arg bundle_files)" >
	<remap from="ar_pose_marker" to="ar_pose_marker_objects"/>
	</node>

	<node machine="$(arg machine)" name="ar_code_detector_bundle" pkg="art_arcode_detector" type="detector.py" output="screen" >
        <remap from="ar_pose_marker" to="ar_pose_marker_objects"/>
    </node>

</launch>
