<?xml version="1.0"?>
<launch>

    <group ns="/art/interface/projected_gui">

        <include file="$(find art_projected_gui)/launch/common_params.launch" />
    
        <node pkg="art_projected_gui" name="app" type="app.py" output="screen">

            <rosparam param="cursors">["/art/user/pointing_left"]</rosparam>

            <!--<rosparam param="projectors">["projector1", "projector2"]</rosparam>--> <!-- comment this param for testing purposes - gui will not wait for projector nodes -->

            <!-- open window with scene - for debugging purposes (can be controlled using mouse) -->
            <param name="show_scene" value="true"/>
        </node>
    
    </group>
    
</launch>
