<?xml version="1.0"?>
<launch>

    <arg name="scene_server"/>

    <rosparam param="scene_origin">[0.0, 0.0]</rosparam>
    <rosparam param="scene_size">[1.35, 0.64]</rosparam>
    <param name="rpm" value="2000"/>
    <param name="scene_server" value="$(arg scene_server)"/>
    <param name="scene_server_port" value="1234"/>

</launch>
