<?xml version="1.0"?>
<launch>

    <machine name="localhost" address="localhost" default="true" />

    <arg name="screen_number" default="1"/>
    <arg name="machine" default="localhost"/>

    <group ns="/art/$(arg machine)">

        <include file="$(find art_projected_gui)/launch/common_params.launch" />

        <node pkg="art_projected_gui" name="projector" machine="$(arg machine)" type="projector_node.py" output="screen">

            <param name="projector_id" value="$(arg machine)"/>
            <param name="screen_number" value="$(arg screen_number)"/>

        </node>

    </group>

</launch>
