<?xml version="1.0"?>
<launch>

	<arg name="ground_objects_on_table" default="false"/>
	<arg name="ground_bb_axis" default="2"/>

	<node name="art_simple_tracker" pkg="art_simple_tracker" type="tracker.py" respawn="false" output="screen">
		<param name="ground_objects_on_table" value="$(arg ground_objects_on_table)"/>
		<param name="ground_bb_axis" value="$(arg ground_bb_axis)"/>
	</node>
</launch>